# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Project-specific
indexes/*.faiss
indexes/*.pkl
data/raw_pdfs/*
data/extracted_images/*
